* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// Specification
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

p {
  font-family: 'Merriweather', serif;
  text-align: center;
}

.btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
}


// Header start
.header {
  padding-bottom: 76px;
  background: #eff0f2;
  width: 100%;
  height: 806px;

  .btn-title {
    margin: 0 auto;
    margin-top: 150px;
    width: 225px;
    height: 53px;
    border: 2px solid #777879;
  }

  .juice-glass {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    position: relative;
    top: -34px;
    margin-bottom: 76px;
  }
}

nav.navbar-expand-lg {
  align-items: end;
  height: 112px;

}

.header-title {
  margin-top: 193px;
  font-size: 45px;
  color: #505050;
  text-shadow: 8px 6px 5px rgba(150, 150, 150, 0.66);

  .header-title-color {
    background: #b2f2ee;
  }
}

// Header end

// About Us Start
.about-as {
  margin-top: 129px;
  min-height: 985px;

  .about-as__left {
    .podlojka {
      margin-top: 182px;
      background: url('../img/podlojka1.png');
      width: 479px;
      height: 412px;

      .carousel-slide {
        padding-bottom: -36px;
      }

      .carousel-indicators {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0;


      }

      .carousel-inner {
        padding-bottom: 36px;
        top: -30px;

        .carousel-item {

          img {
            display: flex;
            width: 395px;
            margin: 0 auto;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          }
        }
      }
    }
  }

  .about-as__right {
    margin-top: 149px;

    .about-as__right__first-title,
    .about-as__right__second-title {
      font-family: 'Merriweather', serif;
      font-size: 20px;
      font-weight: bold;
      color: #3e3f3f;
      text-align: left;
    }

    .about-as__right__first-subtitle,
    .about-as__right__second-subtitle {
      width: 492px;
      font-family: 'Raleway', sans-serif;
      font-size: 16px;
      font-weight: 400;
      text-align: justify;
    }

    .about-as__right__second-title {
      font-size: 17px;
    }
  }
}

.about-as__title,
.works__title,
.services__title {
  font-size: 38px;

}

.about-as__subtitle,
.works__subtitle,
.services__subtitle {
  font-size: 18px;
  color: #5e5f5f;
  text-transform: uppercase;
  letter-spacing: 0.2px;
}

// About Us End

// Works Start
.works {
  margin-bottom: 122px;

  .container {
    margin-top: 122px;
  }

  .works-row {
    .works__img {
      margin-top: 15px;

      img {
        width: 365px;
        // padding-left: 5px;
        height: 360px;

        &:hover {
          background: black;
          opacity: 0.3;
          z-index: 3;
        }

      }
    }
  }


}

// Works End

// new start
.black-block-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  // margin-bottom: 10px;
}

.holder {
  margin-bottom: 10px;
}

.big-img1 {
  position: relative;
  background: url(../img/home_dietitian_sectionbg_1.jpg)no-repeat center;
  background-size: cover;
  width: 653px;
  height: 420px;

  .block {
    background: #71f6eb;

    h4 {
      margin-top: 63px;
      margin-left: 68px;
    }

    p {
      margin-left: 68px;
      width: 468px;
    }
  }
}

.small-img1 {
  position: relative;
  background: url(../img/img-9.jpg)no-repeat center;
  background-size: cover;
  width: 472px;
  height: 420px;

  h4 {
    margin-left: 67px;
    margin-top: 184px;
  }

  p {
    width: 310px;
    margin-left: 67px;
    margin-bottom: 47px;
  }

  a {
    display: block;
    margin-left: 67px;

  }
}

.big-img2 {
  position: relative;
  background: url(../img/griego3_1x.jpg)no-repeat center;
  background-size: cover;
  width: 653px;
  height: 420px;

  h4 {
    margin-top: 165px;
    margin-left: 65px;
  }

  p {
    width: 390px;
    margin-left: 65px;
    margin-bottom: 45px;
  }

  a {
    margin-left: 65px;

  }
}

.small-img2 {
  position: relative;
  background: url(../img/careers-00.jpg)no-repeat center;
  background-size: cover;
  width: 472px;
  height: 420px;

  h4 {
    margin-top: 164px;
    margin-left: 66px;
  }

  p {
    width: 310px;
    margin-left: 66px;
    margin-bottom: 47px;
  }

  a {
    margin-left: 66px;
  }
}

.small-img3 {
  position: relative;
  background: url(../img/griego4_1x.jpg)no-repeat center;
  background-size: cover;
  width: 472px;
  height: 420px;

  h4 {
    margin-left: 64px;
    margin-top: 130px;
  }

  p {
    width: 276px;
    margin-left: 64px;
    margin-bottom: 58px;
  }

  a {
    margin-left: 64px;
  }
}


.big-img3 {
  position: relative;
  background: url(../img/blog-3.jpg)no-repeat center;
  background-size: cover;
  width: 653px;
  height: 420px;

  h4 {
    margin-top: 130px;
    margin-left: 69px;
  }

  p {
    margin-left: 69px;
    width: 390px;
    margin-bottom: 59px;
  }

  a {
    margin-left: 69px;
  }
}

.block {
  position: absolute;
  display: none;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;

  h4 {
    font-family: 'Merriweather', serif;
    font-size: 20px;
    text-align: inherit;
  }

  p {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    text-align: inherit;
  }

  a {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
  }
}

.holder:hover .block {
  display: block;
}

// new end





// Icon Sprite Start
.more-logos-row {
  a {
    display: block;
    margin: 0 auto;
  }

  .icon {
    width: 128px;
    height: 68px;
    // float: left;
    background: url(../img/more_logos.png)no-repeat;
  }

  .logo-rko-top {
    background-position: -1020px 0px;
    cursor: pointer;
  }

  .logo-audiopro-top {
    background-position: -607px 0;
    cursor: pointer;
  }

  .logo-infinity-top {
    background-position: -811px 0;
    cursor: pointer;
  }

  .logo-sport {
    background-position: 0 0;
    cursor: pointer;
  }

  .logo-swan {
    background-position: -200px 0;
    cursor: pointer;
  }

  .logo-swancer {
    background-position: -405px 0;
    cursor: pointer;
  }

  .logo-audiopro-down {
    background-position: -607px 0;
    cursor: pointer;
  }

  .logo-infinity-down {
    background-position: -811px 0;
    cursor: pointer;
  }

  .logo-rko-down {
    background-position: -1020px 0px;
    cursor: pointer;
  }
}

// Icon Sprite End


// Secton Contact Start
.contact {
  width: 100%;
  height: 710px;
  background: url(../img/christmas_snow_trees-wide.png) no-repeat center;
  background-size: cover;
  z-index: -1;

  .contact__left {
    width: 614px;
    height: 460px;
    background: rgba(0, 0, 0, 0.6);
    padding: 0;
    margin: 0;

    .contact_form {
      display: flex;
      flex-direction: column;
      width: 456px;
      margin-left: 31px;
      margin-top: 46px;

      input,
      textarea {
        width: 100%;
        height: 45px;
        padding-left: 4px;
        border: 0;
        border: none;
        border-bottom: 1px solid #888;
        background: transparent;
        color: white;


        &::placeholder {
          font-family: 'Raleway', sans-serif;
          font-size: 15px;
        }
      }

      textarea {
        padding-top: 10px;
        height: 147px;
      }
    }

    button {
      width: 244px;
      height: 53px;
      margin-top: 38px;
      margin-left: 31px;
      background: #6eeee4;
      font-family: 'Montserrat', sans-serif;
      font-size: 18px;
      font-weight: 400;
      letter-spacing: 0.2px;
      border: 0;
      border-radius: 2px;
      text-transform: uppercase;

    }
  }
}



.contact__right {
  width: 500px;
  height: 460px;
  background: rgba(0, 0, 0, 0.6);
  padding: 0;
  margin: 0;

  p {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: white;
    text-align: inherit;
    padding: 0;
    margin: 0;
  }

  .contact__right__address {
    margin-top: 36px;
    margin-left: 30px;
  }

  .map {
    background: url(../img/GoogleMap.gif) no-repeat center;
    background-size: cover;
    width: 452px;
    height: 224px;
    margin: 0 auto;
    margin-top: 23px;
  }
}

// Secton Contact End
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700|Montserrat:400,700|Raleway:400,700');