@import url("https://fonts.googleapis.com/css?family=Merriweather:400,700|Montserrat:400,700|Raleway:400,700");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

p {
  font-family: 'Merriweather', serif;
  text-align: center;
}

.btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.125em;
}

.header {
  padding-bottom: 76px;
  background: #eff0f2;
  width: 100%;
  height: 806px;
}

.header .btn-title {
  margin: 0 auto;
  margin-top: 8.333em;
  width: 225px;
  height: 53px;
  border: 2px solid #777879;
}

.juice-glass {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: relative;
  top: -34px;
  margin-bottom: 76px;
}

nav.navbar-expand-lg {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  height: 112px;
}

.header-title {
  margin-top: 193px;
  font-size: 2.500em;
  color: #505050;
  text-shadow: 8px 6px 5px rgba(150, 150, 150, 0.66);
}

.header-title .header-title-color {
  background: #b2f2ee;
}

.about-as {
  margin-top: 7.167em;
  height: 54.722em;
}

.about-as .about-as__left .podlojka {
  margin-top: 10.111em;
  background: url("../img/podlojka1.png");
  width: 26.611em;
  height: 22.889em;
}

.about-as .about-as__left .podlojka .carousel-slide {
  padding-bottom: -36px;
}

.about-as .about-as__left .podlojka .carousel-indicators {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 0;
}

.about-as .about-as__left .podlojka .carousel-indicators li {
  width: 10px;
  height: 10px;
  background: #d0d0d0;
  border-radius: 3px;
}

.about-as .about-as__left .podlojka ol.carousel-indicators li.active {
  background: #71f6eb;
}

.about-as .about-as__left .carousel-inner {
  padding-bottom: 36px;
  top: -30px;
}

.about-as .about-as__left .carousel-inner .carousel-item img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 395px;
  margin: 0 auto;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about-as__right {
  margin-top: 149px;
}

.about-as__right .about-as__right__first-title,
.about-as__right .about-as__right__second-title {
  font-family: 'Merriweather', serif;
  font-size: 20px;
  font-weight: bold;
  color: #3e3f3f;
  text-align: left;
}

.about-as__right .about-as__right__first-subtitle,
.about-as__right .about-as__right__second-subtitle {
  width: 27.333em;
  font-family: 'Raleway', sans-serif;
  font-size: 0.889em;
  font-weight: 400;
  text-align: justify;
}

.about-as__right .about-as__right__second-title {
  font-size: 0.944em;
}

.about-as__title,
.works__title,
.services__title {
  font-size: 2.111em;
}

.about-as__subtitle,
.works__subtitle,
.services__subtitle {
  font-size: 1em;
  color: #5e5f5f;
  text-transform: uppercase;
  letter-spacing: 0.2px;
}

.works {
  margin-bottom: 122px;
}

.works .container {
  margin-top: 122px;
}

.works .works-row .works__img {
  position: relative;
  margin-top: 15px;
}

.works .works-row .img-1 {
  width: 365px;
  height: 360px;
  background: url(../img/1x6.png) no-repeat center;
  background-size: contain;
}

.works .works-row .img-2 {
  width: 365px;
  height: 360px;
  background: url(../img/2x6.png) no-repeat center;
  background-size: contain;
}

.works .works-row .img-2 .holder {
  width: 95%;
  right: 10px;
}

.works .works-row .img-3 {
  width: 365px;
  height: 360px;
  background: url(../img/3x6.png) no-repeat center;
  background-size: cover;
}

.works .works-row .img-4 {
  width: 365px;
  height: 360px;
  background: url(../img/4x6.png) no-repeat center;
  background-size: contain;
}

.works .works-row .img-5 {
  width: 365px;
  height: 360px;
  background: url(../img/5x6.png) no-repeat center;
  background-size: contain;
}

.works .works-row .img-5 .holder {
  width: 95%;
  right: 10px;
}

.works .works-row .img-6 {
  width: 365px;
  height: 360px;
  background: url(../img/6x6.png) no-repeat center;
  background-size: contain;
}

.works .works-row .holder {
  display: none;
  position: absolute;
  right: 5px;
  width: 97%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  background-size: contain;
}

.works .works-row .works__img:hover .holder {
  display: block;
}

.services {
  padding-top: 124px;
}

.services .services__subtitle {
  margin-bottom: 120px;
}

.black-block-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.holder {
  margin-bottom: 10px;
}

.big-img1 {
  position: relative;
  background: url(../img/home_dietitian_sectionbg_1.jpg) no-repeat center;
  background-size: cover;
  width: 653px;
  height: 420px;
}

.big-img1 .block {
  background: #71f6eb;
}

.big-img1 .block h4 {
  margin-top: 63px;
  margin-left: 68px;
  color: black;
}

.big-img1 .block p {
  margin-left: 68px;
  width: 468px;
  color: black;
}

.small-img1 {
  position: relative;
  background: url(../img/img-9.jpg) no-repeat center;
  background-size: cover;
  width: 472px;
  height: 420px;
}

.small-img1 h4 {
  margin-left: 67px;
  margin-top: 184px;
  color: black;
}

.small-img1 p {
  width: 310px;
  margin-left: 67px;
  margin-bottom: 47px;
}

.small-img1 a {
  display: block;
  margin-left: 67px;
}

.big-img2 {
  position: relative;
  background: url(../img/griego3_1x.jpg) no-repeat center;
  background-size: cover;
  width: 653px;
  height: 420px;
}

.big-img2 h4 {
  margin-top: 165px;
  margin-left: 65px;
}

.big-img2 p {
  width: 390px;
  margin-left: 65px;
  margin-bottom: 45px;
}

.big-img2 a {
  margin-left: 65px;
}

.small-img2 {
  position: relative;
  background: url(../img/careers-00.jpg) no-repeat center;
  background-size: cover;
  width: 472px;
  height: 420px;
}

.small-img2 h4 {
  margin-top: 164px;
  margin-left: 66px;
}

.small-img2 p {
  width: 310px;
  margin-left: 66px;
  margin-bottom: 47px;
}

.small-img2 a {
  margin-left: 66px;
}

.small-img3 {
  position: relative;
  background: url(../img/griego4_1x.jpg) no-repeat center;
  background-size: cover;
  width: 472px;
  height: 420px;
}

.small-img3 h4 {
  margin-left: 64px;
  margin-top: 130px;
}

.small-img3 p {
  width: 276px;
  margin-left: 64px;
  margin-bottom: 58px;
}

.small-img3 a {
  margin-left: 64px;
}

.big-img3 {
  position: relative;
  background: url(../img/blog-3.jpg) no-repeat center;
  background-size: cover;
  width: 653px;
  height: 420px;
}

.big-img3 h4 {
  margin-top: 130px;
  margin-left: 69px;
}

.big-img3 p {
  margin-left: 69px;
  width: 390px;
  margin-bottom: 59px;
}

.big-img3 a {
  margin-left: 69px;
}

.block {
  position: absolute;
  display: none;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
}

.block h4 {
  font-family: 'Merriweather', serif;
  font-size: 20px;
  text-align: inherit;
  color: #f1f1f1;
}

.block p {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  text-align: inherit;
  color: #f1f1f1;
}

.block a {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  color: #dadcdc;
}

.block a::after {
  content: url(../img/arow-right.png);
  position: relative;
  margin-left: 20px;
}

.holder:hover .block {
  display: block;
}

.team {
  padding-top: 122px;
  padding-bottom: 118px;
}

.team .team__title {
  font-family: 'Montserrat', sans-serif;
  font-size: 38px;
}

.team .team__subtitle {
  font-family: 'Merriweather', serif;
  font-size: 17px;
  text-transform: uppercase;
  color: #616161;
  margin-bottom: 120px;
}

.team .team-row .team-worker .team-worker__img {
  margin-bottom: 10px;
}

.team .team-row .team-worker .team-worker__img img {
  width: 370px;
  height: 441px;
}

.reviews {
  height: 923px;
}

.reviews .reviews__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 38px;
  margin-top: 119px;
}

.reviews .reviews__subtitle {
  font-family: 'Merriweather', serif;
  font-size: 17px;
  text-transform: uppercase;
  color: #616161;
  margin-bottom: 135px;
}

.reviews .podlojka {
  margin-top: 0px;
  background: url("../img/podlojka1.png");
  width: 390px;
  height: 362px;
}

.reviews .podlojka .carousel-slide {
  padding-bottom: -36px;
}

.reviews .podlojka .carousel-indicators {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 0;
}

.reviews .podlojka .carousel-indicators li {
  width: 10px;
  height: 10px;
  background: #d0d0d0;
  border-radius: 3px;
}

.reviews .podlojka ol.carousel-indicators li.active {
  background: #71f6eb;
}

.reviews .carousel-inner {
  padding-bottom: 36px;
  top: -30px;
}

.reviews .carousel-inner .carousel-item img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 320px;
  height: 410px;
  margin: 0 auto;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.reviews__right {
  width: 666px;
  height: 362px;
  background: #eaebed;
}

.reviews__right .reviews__right-title {
  margin-top: 101px;
  margin-bottom: -10px;
  font-family: 'Merriweather', serif;
  font-size: 28px;
  font-weight: bold;
}

.reviews__right .reviews__right-title span {
  font-family: 'Merriweather', serif;
  color: #99999a;
  font-size: 15px;
}

.reviews__right .reviews__right-subtitle {
  margin-left: 86px;
  margin-bottom: 33px;
  width: 502px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #99999a;
  text-align: center;
}

.more-logos-row a {
  display: block;
  margin: 0 auto;
}

.more-logos-row .more-logos-top {
  margin-bottom: 85px;
}

.more-logos-row .more-logos-bottom {
  margin-bottom: 120px;
}

.more-logos-row .icon {
  width: 128px;
  height: 68px;
  background: url(../img/more_logos_b.png) no-repeat;
}

.more-logos-row .logo-rko-top {
  background-position: -1020px 0px;
  cursor: pointer;
}

.more-logos-row .logo-rko-top:hover {
  background: url(../img/more_logos.png) no-repeat;
  background-position: -1020px 0px;
}

.more-logos-row .logo-audiopro-top {
  background-position: -607px 0;
  cursor: pointer;
}

.more-logos-row .logo-audiopro-top:hover {
  background: url(../img/more_logos.png) no-repeat;
  background-position: -607px 0;
}

.more-logos-row .logo-infinity-top {
  background-position: -811px 0;
  cursor: pointer;
}

.more-logos-row .logo-infinity-top:hover {
  background: url(../img/more_logos.png) no-repeat;
  background-position: -811px 0;
}

.more-logos-row .logo-sport {
  background-position: 0 0;
  cursor: pointer;
}

.more-logos-row .logo-sport:hover {
  background: url(../img/more_logos.png) no-repeat;
  background-position: 0 0;
}

.more-logos-row .logo-swan {
  background-position: -200px 0;
  cursor: pointer;
}

.more-logos-row .logo-swan:hover {
  background: url(../img/more_logos.png) no-repeat;
  background-position: -200px 0;
}

.more-logos-row .logo-swancer {
  background-position: -405px 0;
  cursor: pointer;
}

.more-logos-row .logo-swancer:hover {
  background: url(../img/more_logos.png) no-repeat;
  background-position: -405px 0;
}

.more-logos-row .logo-audiopro-down {
  background-position: -607px 0;
  cursor: pointer;
}

.more-logos-row .logo-audiopro-down:hover {
  background: url(../img/more_logos.png) no-repeat;
  background-position: -607px 0;
}

.more-logos-row .logo-infinity-down {
  background-position: -811px 0;
  cursor: pointer;
}

.more-logos-row .logo-infinity-down:hover {
  background: url(../img/more_logos.png) no-repeat;
  background-position: -811px 0;
}

.more-logos-row .logo-rko-down {
  background-position: -1020px 0px;
  cursor: pointer;
}

.more-logos-row .logo-rko-down:hover {
  background: url(../img/more_logos.png) no-repeat;
  background-position: -1020px 0px;
}

.contact {
  width: 100%;
  height: 710px;
  background: url(../img/christmas_snow_trees-wide.png) no-repeat center;
  background-size: cover;
  z-index: -1;
}

.contact .row {
  padding-top: 108px;
}

.contact .contact__left {
  width: 614px;
  height: 460px;
  background: rgba(0, 0, 0, 0.6);
  padding: 0;
  margin: 0;
}

.contact .contact__left .contact_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  margin-left: 31px;
  margin-top: 46px;
}

.contact .contact__left .contact_form input,
.contact .contact__left .contact_form textarea {
  width: 100%;
  height: 45px;
  padding-left: 4px;
  border: 0;
  border: none;
  border-bottom: 1px solid #888;
  background: transparent;
  color: white;
}

.contact .contact__left .contact_form input::-webkit-input-placeholder,
.contact .contact__left .contact_form textarea::-webkit-input-placeholder {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
}

.contact .contact__left .contact_form input:-ms-input-placeholder,
.contact .contact__left .contact_form textarea:-ms-input-placeholder {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
}

.contact .contact__left .contact_form input::-ms-input-placeholder,
.contact .contact__left .contact_form textarea::-ms-input-placeholder {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
}

.contact .contact__left .contact_form input::placeholder,
.contact .contact__left .contact_form textarea::placeholder {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
}

.contact .contact__left .contact_form textarea {
  padding-top: 10px;
  height: 147px;
}

.contact .contact__left button {
  width: 244px;
  height: 53px;
  margin-top: 38px;
  margin-left: 31px;
  background: #6eeee4;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.2px;
  border: 0;
  border-radius: 2px;
  text-transform: uppercase;
}

.contact__right {
  width: 500px;
  height: 460px;
  background: rgba(0, 0, 0, 0.6);
  padding: 0;
  margin: 0;
}

.contact__right p {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  color: white;
  text-align: inherit;
  padding: 0;
  margin: 0;
}

.contact__right .contact__right__address {
  margin-top: 36px;
  margin-left: 30px;
}

.contact__right .map {
  background: url(../img/GoogleMap.gif) no-repeat center;
  background-size: cover;
  width: 452px;
  height: 224px;
  margin: 0 auto;
  margin-top: 23px;
}

.footer {
  height: 312px;
  background: #262b2e;
}

.footer h5 {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #d4d5d5;
  font-weight: 200;
  padding-top: 93px;
}

.footer p {
  margin-top: 43px;
  font-family: 'Raleway', sans-serif;
  color: #d4d5d5;
  font-size: 16px;
}

.footer-icon {
  margin-top: 19px;
  font-size: 24px;
  text-align: center;
}

.footer-icon i {
  width: 45px;
  height: 40px;
  padding-top: 8px;
  color: #bbb8b9;
  background: #424648;
}

.footer-icon i:hover {
  background: #6eeee4;
  color: black;
}
/*# sourceMappingURL=main.css.map */